# Arquivos de log e de ajuda pessoal
HELP.md
/utils.txt

# Arquivos de build do Maven e Gradle
target/
build/
.mvn/wrapper/maven-wrapper.jar

# Arquivos de configuração com segredos
# Ignora o arquivo de propriedades principal, que contém segredos.
/src/main/resources/application.properties

### Arquivos de IDE ###

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/
/learnings.txt
